services:
  mc:
    container_name: atm10
    image: itzg/minecraft-server:java21-graalvm
    restart: unless-stopped
    stop_grace_period: 300s
    user: ${UID}:${GID}
    tty: true
    stdin_open: true
    cpuset: "0-5"
    cpu_shares: 2048
    depends_on:
      - nginx
      - db
    networks:
      default:
      router:
        aliases:
          - atm10
    ports:
      - name: simplevoicechat
        target: 24454
        published: 24454
        protocol: udp
    volumes:
      - type: bind
        source: /opt/minecraft/servers/atm10
        target: /data
      - type: bind
        source: ../../resources/atm10/config
        target: /config
        read_only: true
      - type: bind
        source: ../../resources/atm10/extra_files
        target: /extra_files
        read_only: true
    env_file:
      - path: ./.env
        required: true
    environment:
      MODPACK_PLATFORM: AUTO_CURSEFORGE
      CF_SLUG: all-the-mods-10
      CF_FILENAME_MATCHER: 5.4
      MODE: survival
      SEED: m0DKZe6vTUeHlG1q
      MEMORY: 20G
      USE_MEOWICE_FLAGS: "true"
      USE_MEOWICE_GRAALVM_FLAGS: "true"
      MOTD: |
        Running %MODPACK_NAME% version %env:MODPACK_VERSION%
      RCON_CMDS_STARTUP: |
        gamerule doFireTick false
        gamerule playersSleepingPercentage 0
      RCON_CMDS_FIRST_CONNECT: |-
        chunky pause
      RCON_CMDS_LAST_DISCONNECT: |-
        chunky continue
      SYNC_SKIP_NEWER_IN_DESTINATION: "false"
      MODRINTH_PROJECTS: "@/extra_files/modrinth-mods.txt"
      #MODRINTH_DOWNLOAD_DEPENDENCIES: required
      CURSEFORGE_FILES: "@/extra_files/curseforge-mods.txt"
      RESOURCE_PACK: https://files.off-topic.chat/resourcepacks/atm10-resourcepack.zip
      APPLY_EXTRA_FILES: |
        bluemap</extra_files/bluemap/
    labels:
      mc-router.host: atm10.off-topic.chat
      mc-router.network: minecraft-shared_default

  nginx:
    image: webdevops/php-nginx:8.4-alpine
    restart: unless-stopped
    networks:
      default:
      proxy:
        aliases:
          - atm10
    volumes:
      - type: bind
        source: ./vhost.conf
        target: /opt/docker/etc/nginx/vhost.conf
        read_only: true
      - type: bind
        source: /opt/minecraft/servers/atm10/bluemap/web
        target: /app
        read_only: true
    environment:
      DATABASE: ${CFG_DB_NAME}
      USERNAME: ${CFG_DB_USER}
      PASSWORD: ${CFG_DB_PASSWORD}
    labels:
      traefik.enable: "true"
      traefik.http.routers.atm10.rule: Host(`atm10.off-topic.chat`)
      traefik.http.routers.atm10.service: atm10
      traefik.http.services.atm10.loadbalancer.server.url: http://atm10:80

  db:
    image: mariadb:11
    restart: unless-stopped
    volumes:
      - type: volume
        source: db
        target: /var/lib/mysql
    environment:
      MARIADB_RANDOM_ROOT_PASSWORD: 1
      MARIADB_DATABASE: ${CFG_DB_NAME}
      MARIADB_USER: ${CFG_DB_USER}
      MARIADB_PASSWORD: ${CFG_DB_PASSWORD}

volumes:
  db: null

networks:
  default:
  proxy:
    name: ovh-proxy_default
    external: true
  router:
    name: minecraft-shared_default
    external: true