[[stack]]
name = "craftoria-dev"
tags = ["mc-server"]
[stack.config]
server = "ovh-cloud"
links = [
  "https://craftoria-dev.off-topic.chat"
]
poll_for_updates = true
linked_repo = "minecraft"
webhook_force_deploy = true
run_directory = "craftoria-dev"
config_files = [
  { path = "vhost.conf", services = ["nginx"], requires = "Redeploy" },
  { path = "extras/modrinth-mods.txt", services = ["mc"], requires = "Redeploy" },
  { path = "config/bluemap/core.conf", services = ["mc"], requires = "Redeploy" },
  { path = "config/bluemap/storages/sql.conf", services = ["mc"], requires = "Redeploy" },
  { path = "config/bluemap/maps/world.conf", services = ["mc"], requires = "Redeploy" },
  { path = "config/bluemap/maps/world_the_nether.conf", services = ["mc"], requires = "Redeploy" },
  { path = "config/bluemap/maps/world_the_end.conf", services = ["mc"], requires = "Redeploy" },
  { path = "config/simple-discord-link/simple-discord-link.toml", services = ["mc"], requires = "Redeploy" },
  { path = "config/simple-discord-link/simple-discord-compat.toml", services = ["mc"], requires = "Redeploy" },
  { path = "config/luckperms/luckperms.conf", services = ["mc"], requires = "Redeploy" },
  { path = "config/luckperms/toml-storage/groups/admin.toml", services = ["mc"], requires = "Redeploy" },
  { path = "config/luckperms/toml-storage/groups/default.toml", services = ["mc"], requires = "Redeploy" }
]
pre_deploy.command = """
export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"

STACK_NAME="craftoria"
CLIENT_ID="[[INFISICAL_CLIENT_ID]]"
CLIENT_SECRET="[[INFISICAL_CLIENT_SECRET]]"
DOMAIN="[[INFISICAL_DOMAIN]]"
PROJECT_ID="[[INFISICAL_PROJECT_ID]]"
ENV="dev"

INFISICAL_TOKEN=$( \
  infisical login \
    --method=universal-auth \
    --client-id="$CLIENT_ID" \
    --client-secret="$CLIENT_SECRET" \
    --domain="$DOMAIN" \
    --silent --plain)

touch .env
cp .env .env.original
echo >> .env
echo "UID=$(id -u mcserver)" >> .env
echo "GID=$(id -g mcserver)" >> .env
infisical export \
  --format=dotenv \
  --domain="$DOMAIN" \
  --token="$INFISICAL_TOKEN" \
  --projectId="$PROJECT_ID" \
  --env="$ENV" \
  --path="/$STACK_NAME" \
>> .env

chmod 600 .env
echo ".env updated"
"""
post_deploy.command = """
rm -f .env
mv .env.original .env
echo ".env restored"
"""
environment = """
ALLOW_FLIGHT=true
DIFFICULTY=hard
ENABLE_ROLLING_LOGS=true
ENFORCE_SECURE_PROFILE=false
ENFORCE_WHITELIST=true
EULA=true
FORCE_GAMEMODE=true
ICON=https://share.lxnq.to/-h8LgszoBka/pufferchick.png
MAX_WORLD_SIZE=5000
SNOOPER_ENABLED=false
SPAWN_PROTECTION=0
STOP_SERVER_ANNOUNCE_DELAY=300
TZ=America/New_York
USE_MEOWICE_FLAGS="true"
REPLACE_ENV_VARIABLES="true"
ENV_VARIABLE_PREFIX=CFG_
CFG_SERVER_AVATAR=https://share.lxnq.to/-h8LgszoBka/pufferchick.png
CFG_SERVER_NAME=Craftoria SMP
"""

##

[[stack]]
name = "create-smp"
tags = ["mc-server"]
[stack.config]
server = "ovh-cloud"
links = [
  "https://bluemap.off-topic.chat"
]
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "minecraft"
run_directory = "create-smp"
config_files = [{ path = "vhost.conf" }]
environment = """
DB_DATABASE=[[CREATE_DB_DATABASE]]
DB_USERNAME=[[CREATE_DB_USERNAME]]
DB_PASSWORD=[[CREATE_DB_PASSWORD]]
"""

##

[[stack]]
name = "minecraft-shared"
tags = ["mc-server"]
[stack.config]
server = "ovh-cloud"
links = ["https://files.off-topic.chat"]
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "minecraft"
run_directory = "minecraft-shared"
config_files = [
  { path = "vhost.conf", services = ["nginx"], requires = "Redeploy" }
]
pre_deploy.command = """
export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"

STACK_NAME="$(basename "$PWD")"
CLIENT_ID="[[INFISICAL_CLIENT_ID]]"
CLIENT_SECRET="[[INFISICAL_CLIENT_SECRET]]"
DOMAIN="[[INFISICAL_DOMAIN]]"
PROJECT_ID="[[INFISICAL_PROJECT_ID]]"
ENV="prod"

INFISICAL_TOKEN=$( \
  infisical login \
    --method=universal-auth \
    --client-id="$CLIENT_ID" \
    --client-secret="$CLIENT_SECRET" \
    --domain="$DOMAIN" \
    --silent --plain)

touch .env
cp .env .env.original
echo >> .env
echo "UID=$(id -u codeserver)" >> .env
echo "GID=$(id -g mcserver)" >> .env
infisical export \
  --format=dotenv \
  --domain="$DOMAIN" \
  --token="$INFISICAL_TOKEN" \
  --projectId="$PROJECT_ID" \
  --env="$ENV" \
  --path="/$STACK_NAME" \
>> .env

chmod 600 .env
echo ".env updated"
"""
post_deploy.command = """
rm -f .env
mv .env.original .env
echo ".env restored"
"""
environment = """
  # VARIABLE = value
"""