services:
  mc:
    container_name: craftoria-dev
    image: itzg/minecraft-server:java25-graalvm
    restart: unless-stopped
    user: ${UID}:${GID}
    tty: true
    stdin_open: true
    depends_on:
      - nginx
      - db
    networks:
      - default
      - proxy
    volumes:
      - type: bind
        source: /opt/minecraft/servers/craftoria-dev
        target: /data
    env_file:
      - path: ./.env
        required: true

  nginx:
    image: webdevops/php-nginx:8.4-alpine
    restart: unless-stopped
    networks:
      default:
      proxy:
        aliases:
          - craftoria-dev-nginx
    volumes:
      - type: bind
        source: ./vhost.conf
        target: /opt/docker/etc/nginx/vhost.conf
        read_only: true
      - type: bind
        source: /opt/minecraft/servers/craftoria-dev/bluemap/web
        target: /app/bluemap
        read_only: true
    labels:
      traefik.http.routers.craftoria-dev-bluemap.rule: Host(`bluemap.off-topic.chat`) && PathPrefix(`craftoria-dev`)
      traefik.http.services.craftoria-dev-bluemap.loadbalancer.server.url: http://craftoria-dev-nginx:80

  db:
    image: mariadb:11
    restart: unless-stopped
    volumes:
      - type: volume
        source: db
        target: /var/lib/mysql
    environment:
      MARIADB_RANDOM_ROOT_PASSWORD: 1
      MARIADB_DATABASE: ${DB_DATABASE}
      MARIADB_USER: ${DB_USERNAME}
      MARIADB_PASSWORD: ${DB_PASSWORD}

volumes:
  db: null

networks:
  default:
  proxy:
    name: ovh-proxy_default
    external: true