services:
  mc-router:
    image: itzg/mc-router
    container_name: mc-router
    restart: unless-stopped
    networks:
      - default
      - proxy
    ports:
      - name: minecraft
        target: 25565
        published: 25565
    environment:
      DOCKER_SOCKET: tcp://socket-proxy:2375
      IN_DOCKER: "true"
    
  nginx:
    image: webdevops/php-nginx:8.4-alpine
    restart: unless-stopped
    networks:
      default:
      proxy:
        aliases:
          - mc-nginx
    volumes:
      - type: bind
        source: ./vhost.conf
        target: /opt/docker/etc/nginx/vhost.conf
        read_only: true
      - type: bind
        source: /opt/minecraft/backups
        target: /app/backup
        read_only: true
      - type: bind
        source: /opt/minecraft/modpacks
        target: /app/modpack
        read_only: true
      - type: bind
        source: /opt/minecraft/resourcepacks
        target: /app/resourcepacks
        read_only: true
    labels:
      traefik.enable: "true"
      traefik.http.routers.mc-files.rule: Host(`files.off-topic.chat`)
      traefik.http.routers.mc-files.service: mc-files
      traefik.http.services.mc-files.loadbalancer.server.url: http://mc-nginx:80
  
  tinyauth:
    image: ghcr.io/steveiliop56/tinyauth:v4
    restart: unless-stopped
    networks:
      proxy:
        aliases:
          - mc-auth
    volumes:
      - type: volume
        source: tinyauth-data
        target: /data
    environment:
      APP_URL: https://auth.off-topic.chat
      PROVIDERS_GITHUB_CLIENT_ID: ${PROVIDERS_GITHUB_CLIENT_ID}
      PROVIDERS_GITHUB_CLIENT_SECRET: ${PROVIDERS_GITHUB_CLIENT_SECRET}
      OAUTH_AUTO_REDIRECT: github
      OAUTH_WHITELIST: ${OAUTH_WHITELIST}
    labels:
      traefik.enable: "true"
      traefik.http.routers.mc-auth.rule: Host(`auth.off-topic.chat`)
      traefik.http.routers.mc-auth.service: mc-auth
      traefik.http.services.mc-auth.loadbalancer.server.url: http://mc-auth:3000
      traefik.http.middlewares.mc-auth.forwardauth.address: http://mc-auth:3000/api/auth/traefik

  codeserver:
    image: lscr.io/linuxserver/openvscode-server:latest
    restart: unless-stopped
    networks:
      proxy:
        aliases:
          - mc-codeserver
    volumes:
      - type: volume
        source: codeserver-config
        target: /config
      - type: bind
        source: /opt/minecraft/servers
        target: /servers
    environment:
      PUID: ${UID}
      PGID: ${GID}
      TZ: America/New_York
      DOCKER_MODS: linuxserver/mods:code-server-extension-arguments
      EXTENSIONS_GALLERY: |
        {
          "serviceUrl": "https://marketplace.visualstudio.com/_apis/public/gallery",
          "cacheUrl": "https://vscode.blob.core.windows.net/gallery/index",
          "itemUrl": "https://marketplace.visualstudio.com/items"
        }
      VSCODE_EXTENSION_IDS: redhat.vscode-yaml|tamasfe.even-better-toml|sumneko.lua|SPGoding.datapack-language-server|MinecraftCommands.syntax-mcfunction|jackmacwindows.vscode-computercraft|lemmmy.computercraft-extension-pack|jackmacwindows.craftos-pc
    labels:
      traefik.enable: "true"
      traefik.http.routers.mc-codeserver.rule: Host(`code-dev.off-topic.chat`)
      traefik.http.routers.mc-codeserver.service: mc-codeserver
      traefik.http.routers.mc-codeserver.middlewares: mc-auth
      traefik.http.services.mc-codeserver.loadbalancer.server.url: http://mc-codeserver:3000
  
  sftp:
    image: atmoz/sftp:latest
    restart: unless-stopped
    command: mcadmin::1002:1002:upload
    ports:
      - 25522:22
    volumes:
      - type: bind
        source: /srv/uploads/incoming
        target: /home/mcadmin/upload
      - type: bind
        source: /home/mcadmin/.ssh/authorized_keys
        target: /home/mcadmin/.ssh/authorized_keys
        read_only: true

networks:
  default:
  proxy:
    name: ovh-proxy_default
    external: true

volumes:
  codeserver-config: null
  tinyauth-data: null